@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 33% 96%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 173 35% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173 25% 90%;
    --secondary-foreground: 173 35% 24%;
    --muted: 173 20% 94%;
    --muted-foreground: 173 20% 54%;
    --accent: 173 47% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 173 20% 85%;
    --input: 173 20% 88%;
    --ring: 173 47% 54%;
    --chart-1: 173 47% 54%;
    --chart-2: 173 35% 44%;
    --chart-3: 180 45% 65%;
    --chart-4: 170 30% 40%;
    --chart-5: 180 50% 30%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 173 35% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 170 33% 96%;
    --sidebar-accent-foreground: 173 35% 24%;
    --sidebar-border: 173 20% 88%;
    --sidebar-ring: 173 47% 54%;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;
    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 173 35% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 14% 24%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 14% 24%;
    --muted-foreground: 215 10% 65%;
    --accent: 173 47% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 14% 24%;
    --input: 215 14% 24%;
    --ring: 173 47% 54%;
    --chart-1: 173 47% 54%;
    --chart-2: 173 35% 44%;
    --chart-3: 180 45% 65%;
    --chart-4: 170 30% 40%;
    --chart-5: 180 50% 30%;
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 173 35% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 13% 18%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 14% 24%;
    --sidebar-ring: 173 47% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
